body{
font-family: sans-serif;
font-size: 20px;
background-color: black;
width="1300px"
}
.top-side{
background-color: black;
}
.left-side{
background-color: rgb(0, 174, 255);
}
.right-side{
    background-color: rgb(0, 174, 255);
}
.click-btn{    
  color: white;
  padding: 9px 12px;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
}
.btn-color{
    background: white;
  color:blue;
  box-shadow:0 2px 0 blue;    
}
a{
  color: white;
  font-weight: 700;
  text-decoration: none;
}